[submodule "assimp"]
	path = submodules/assimp
	url = https://github.com/assimp/assimp
[submodule "glew"]
	path = submodules/glew
	url = https://github.com/nigels-com/glew
[submodule "glfw"]
	path = submodules/glfw
	url = https://github.com/glfw/glfw
[submodule "stb"]
	path = submodules/stb
	url = https://github.com/nothings/stb
[submodule "glm"]
	path = submodules/glm
	url = https://github.com/g-truc/glm
[submodule "imgui"]
	path =submodules/imgui
	url = https://github.com/ocornut/imgui
[submodule "boost"]
	path = submodules/boost
	url = https://github.com/boostorg/boost
[submodule "fmt"]
	path = submodules/fmt
	url = https://github.com/fmtlib/fmt
[submodule "submodules/assimp"]
	path = submodules/assimp
	url = https://github.com/assimp/assimp
[submodule "submodules/glew"]
	path = submodules/glew
	url = https://github.com/nigels-com/glew
[submodule "submodules/glfw"]
	path = submodules/glfw
	url = https://github.com/glfw/glfw
[submodule "submodules/stb"]
	path = submodules/stb
	url = https://github.com/nothings/stb
[submodule "submodules/glm"]
	path = submodules/glm
	url = https://github.com/g-trunc/glm
[submodule "submodules/imgui"]
	path = submodules/imgui
	url = https://github.com/ocornut/imgui
[submodule "submodules/boost"]
	path = submodules/boost
	url = https://github.com/boostorg/boost
[submodule "submodules/fmt"]
	path = submodules/fmt
	url = https://github.com/fmtlib/fmt
